body {
  background-color: #dedceb
}

.container {
  margin-top: 40px;
}

#add-contact-button {
  border-radius: 50%;
  font-weight: 900;
}

#new-contact {
  margin-right: 20px;
  float: left;
  font-size: 28px;
}

#whereDataSpitsOut {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-top: 40px;
  background-color: #dedceb
}

.card-body {
  border: 1px solid black;
  box-shadow: 7px 10px 5px -3px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  margin: 20px;
  background: white;
}